
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primitives-anthem-font-family-member), sans-serif;
    font-size: var(--brand-button-font-size-small);
    line-height: var(--brand-button-font-line-height-small);
    font-weight: var(--brand-button-font-weight-large-single);
    color: var(--brand-button-text-primary-default);
    background-color: var(--brand-button-background-primary-default);
    padding: var(--brand-button-padding-vertical-small) var(--brand-button-padding-horizontal-small);
    border-width: var(--brand-button-border-size);
    border-style: solid;
    border-color: var(--brand-button-border-primary-focus);
    height: var(--brand-button-height-small);
    min-width: var(--brand-button-min-width-small);
    cursor: pointer;
    border: none;
}

.btn--large {
    font-size: var(--brand-button-font-size-large-single);
    line-height: var(--brand-button-font-line-height-large-single);
    font-weight: var(--brand-button-font-weight-large-single);
    height: var(--brand-button-height-large);
    min-width: var(--brand-button-min-width-large);
    padding: var(--brand-button-padding-vertical-large) var(--brand-button-padding-horizontal-large);
}

.btn--primary:hover {
    background-color: var(--brand-button-background-primary-hover);
}
.btn--primary:active {
    background-color: var(--brand-button-background-primary-press);
}
.btn--primary:disabled {
    background-color: var(--brand-button-background-primary-disabled);
    color: var(--brand-button-text-primary-disabled);
    cursor: not-allowed;
}

.btn--secondary {
    color: var(--brand-button-text-secondary-default);
    background-color: transparent;
    border-color: var(--brand-button-border-secondary-default);
}
.btn--secondary:hover {
    background-color: var(--brand-button-background-secondary-hover);
    color: var(--brand-button-text-secondary-hover);
}
.btn--secondary:disabled {
    color: var(--brand-button-text-secondary-disabled);
    border-color: var(--brand-button-border-secondary-default);
    cursor: not-allowed;
}

.btn--secondary-white {
    color: var(--brand-button-text-secondary-white-default);
    background-color: var(--brand-button-background-secondary-white-default);
    border-color: var(--brand-button-border-secondary-white-hover);
}
.btn--secondary-white:hover {
    background-color: var(--brand-button-background-secondary-white-hover);
}
.btn--secondary-white:disabled {
    background-color: var(--brand-button-background-secondary-white-disabled);
    color: var(--brand-button-text-secondary-white-disabled);
    cursor: not-allowed;
}

.btn--ghost {
    color: var(--brand-button-text-ghost-default);
    background-color: transparent;
    border-color: var(--brand-button-border-ghost-default);
}
.btn--ghost:hover {
    background-color: var(--brand-button-background-ghost-hover);
    color: var(--brand-button-text-ghost-hover);
}
.btn--ghost:disabled {
    color: var(--brand-button-text-ghost-disabled);
    cursor: not-allowed;
}

.btn--disabled {
    pointer-events: none;
    opacity: 0.6;
}