:root {
    --brand-button-disabled: 30px;
    --brand-button-font-size-small: 14px;
    --brand-button-font-size-large-single: 16px;
    --brand-button-font-size-large-double-top: 12px;
    --brand-button-font-size-large-double-bottom: 12px;
    --brand-button-font-line-height-small: 22px;
    --brand-button-font-line-height-large-single: 24px;
    --brand-button-font-line-height-large-double-top: 18px;
    --brand-button-font-line-height-large-double-bottom: 18px;
    --brand-button-font-weight-small: 600;
    --brand-button-font-weight-large-single: 600;
    --brand-button-font-weight-large-double-top: 500;
    --brand-button-font-weight-large-double-bottom: 600;
    --brand-button-text-primary-default: #ffffff;
    --brand-button-text-primary-hover: #ffffff;
    --brand-button-text-primary-focus: #ffffff;
    --brand-button-text-primary-press: #ffffff;
    --brand-button-text-primary-disabled: #ffffff;
    --brand-button-text-secondary-default: #1a3673;
    --brand-button-text-secondary-hover: #ffffff;
    --brand-button-text-secondary-focus: #1a3673;
    --brand-button-text-secondary-press: #ffffff;
    --brand-button-text-secondary-disabled: #1a3673;
    --brand-button-text-secondary-white-default: #ffffff;
    --brand-button-text-secondary-white-hover: #ffffff;
    --brand-button-text-secondary-white-focus: #ffffff;
    --brand-button-text-secondary-white-press: #ffffff;
    --brand-button-text-secondary-white-disabled: #ffffff;
    --brand-button-text-ghost-default: #ffffff;
    --brand-button-text-ghost-hover: #ffffff;
    --brand-button-text-ghost-focus: #ffffff;
    --brand-button-text-ghost-press: #ffffff;
    --brand-button-text-ghost-disabled: #ffffff;
    --brand-button-background-primary-default: #1a3673;
    --brand-button-background-primary-hover: #231e33;
    --brand-button-background-primary-focus: #1a3673;
    --brand-button-background-primary-press: #231e33;
    --brand-button-background-primary-disabled: #1a3673;
    --brand-button-background-secondary-hover: #1a3673;
    --brand-button-background-secondary-press: #231e33;
    --brand-button-background-secondary-white-default: #d91754;
    --brand-button-background-secondary-white-hover: #ab0036;
    --brand-button-background-secondary-white-focus: #d91754;
    --brand-button-background-secondary-white-press: #666666;
    --brand-button-background-secondary-white-disabled: #d91754;
    --brand-button-background-ghost-hover: #231e33;
    --brand-button-background-ghost-press: #666666;
    --brand-button-border-border-radius: 24px;
    --brand-button-border-size: 1px;
    --brand-button-border-primary-focus: #1a3673;
    --brand-button-border-secondary-default: #1a3673;
    --brand-button-border-secondary-focus: #1a3673;
    --brand-button-border-secondary-disabled: #1a3673;
    --brand-button-border-secondary-white-hover: #ffffff;
    --brand-button-border-secondary-white-focus: #ffffff;
    --brand-button-border-secondary-white-press: #ffffff;
    --brand-button-border-ghost-default: #ffffff;
    --brand-button-border-ghost-hover: #ffffff;
    --brand-button-border-ghost-focus: #ffffff;
    --brand-button-border-ghost-press: #ffffff;
    --brand-button-border-ghost-disabled: #ffffff;
    --brand-button-height-large: 44px;
    --brand-button-height-small: 30px;
    --brand-button-group-padding-horizontal-container: 12px;
    --brand-button-min-width-large: 120px;
    --brand-button-group-padding-vertical-container: 24px;
    --brand-button-min-width-small: 80px;
    --brand-button-padding-horizontal-large: 48px;
    --brand-button-padding-horizontal-small: 30px;
    --brand-button-padding-vertical-large: 10px;
    --brand-button-padding-vertical-small: 8px;
    --brand-button-padding-gap-large: 8px;
    --brand-button-padding-gap-small: 4px;
    --brand-button-icon-size-large: 20px;
    --brand-button-icon-size-small: 16px;
    --brand-button-icon-primary-default: #ffffff;
    --brand-button-icon-primary-hover: #ffffff;
    --brand-button-icon-primary-focus: #ffffff;
    --brand-button-icon-primary-press: #ffffff;
    --brand-button-icon-primary-disabled: #ffffff;
    --brand-button-icon-secondary-default: #1a3673;
    --brand-button-icon-secondary-hover: #ffffff;
    --brand-button-icon-secondary-focus: #1a3673;
    --brand-button-icon-secondary-press: #ffffff;
    --brand-button-icon-secondary-disabled: #1a3673;
    --brand-button-icon-secondary-white-default: #ffffff;
    --brand-button-icon-secondary-white-hover: #ffffff;
    --brand-button-icon-secondary-white-focus: #ffffff;
    --brand-button-icon-secondary-white-press: #ffffff;
    --brand-button-icon-secondary-white-disabled: #ffffff;
    --brand-button-icon-ghost-default: #ffffff;
    --brand-button-icon-ghost-hover: #ffffff;
    --brand-button-icon-ghost-focus: #ffffff;
    --brand-button-icon-ghost-press: #ffffff;
    --brand-button-icon-ghost-disabled: #ffffff;
    --primitives-healthy-blue-font-weight-light: 300;
    --primitives-healthy-blue-font-weight-regular: 400;
    --primitives-healthy-blue-font-weight-medium: 500;
    --primitives-healthy-blue-font-weight-semibold: 600;
    --primitives-healthy-blue-font-weight-bold: 700;
}